<ul class="nav navbar-nav">
    <li ui-sref-active="active">
        <div class="btn-group stalk-dropdown" dropdown is-open="devicesDropdown.isopen">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                Stalked devices <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-center" role="menu">
                <li ng-repeat="device in devices">
                    <a class="clickable" ng-click="deviceClicked(device)">{{device.login}}</a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a class="clickable" ng-click="sendRequest()">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </li>
            </ul>
        </div>
    </li>
    <li class="pull-right" ui-sref-active="active">
        <div class="btn-group stalk-dropdown" dropdown is-open="accountDropdown.isopen">
            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>
                Account <span class="caret"></span>
            </button>
            <ul class="dropdown-menu pull-right" role="menu">
                <li><a ui-sref="home.whoWantsToStalkMe">Who wants to stalk me?</a></li>
                <li><a ui-sref="home.whoIsStalkingMe">Who is stalking me?</a></li>
                <li><a ui-sref="home.account">Profile</a></li>
                <li><a class="clickable" ng-click="logout()">Logout</a></li>
            </ul>
        </div>
    </li>
</ul>